<section class="container">
  <div class="img-box">
    <div *ngIf=" profile.image ; then image else default"></div>
  <ng-template #image>
    <div class="cardTitle">
      <img class="profileImg cardImg" src="{{profile.image}}" alt="Photo of a Shiba Inu"> <span class="separador"></span>
      <div class="contenedor-h2">
        <h2>{{ profile.firstname }} {{ profile.lastname }}<span> <span class="separation"> || </span>{{ convertToAge(profile.dateOfBirth) }}</span></h2>
        <h4>{{ profile.description }}</h4>
      </div>
    </div>
  </ng-template>
  <ng-template #default><img class="coverImage"></ng-template>
  </div>
    <div>
      <div class="cardContent">
        <div class="cardDescription">
          <ul class="detailsList">
            <li class="detailsItem">Price:  {{ profile.price | currency }}</li>
            <li class="detailsItem">Gender:  {{ profile.gender }}</li>
            <li class="detailsItem">Phone:  {{ profile.phone }}</li>
            <li class="detailsItem">Work Days: {{ profile.workTime }}</li>
          </ul>
        </div>
      </div>
      <mat-card-actions>
        <button (click)="switchEdit()" mat-button class="hireBtn">Hire me</button>
      </mat-card-actions>
    </div>

</section>
