<section class="container">
  <div class="img-box">
    <div *ngIf=" profile.image ; then image else default"></div>
  <ng-template #image>
    <div class="cardTitle">
      <div class="col-3">
        <img class="profileImg cardImg" src="{{profile.image}}" alt="Photo of a Shiba Inu">
      </div>
      <div class="contenedor-h2 col-9">
        <h2>{{ profile.firstname }} {{ profile.lastname }}<span> <span class="separation"> || </span>{{ convertToAge(profile.dateOfBirth) }}</span></h2>
        <div class="profileDescription">
          <p>{{ profile.description }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat beatae, accusantium repellat a nihil totam tempora ea ut, ex nostrum! Eveniet sit enim doloremque inventore commodi aut repellendus voluptatibus.</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #default>
    <div class="cardTitle">
      <div class="col-3">
        <img class="profileImg cardImg" src="https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360" alt="Photo of a Shiba Inu">
      </div>
      <div class="contenedor-h2 col-9">
        <h2>{{ profile.firstname }} {{ profile.lastname }}<span> <span class="separation"> || </span>{{ convertToAge(profile.dateOfBirth) }}</span></h2>
        <div class="profileDescription">
          <p>{{ profile.description }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat beatae, accusantium repellat a nihil totam tempora ea ut, ex nostrum! Eveniet sit enim doloremque inventore commodi aut repellendus voluptatibus.</p>
        </div>
      </div>
    </div>
  </ng-template>
  </div>
    <div class="cardDetailed">
      <div class="cardContent">
        <div class="row">
            <div class="detailsItem col-3"><div> <h4>Price</h4><p>{{ profile.price | currency }}</p></div></div>
            <div class="detailsItem col-3"><div> <h4>Gender</h4><p>{{ profile.gender }}</p></div></div>
            <div class="detailsItem col-3"><div> <h4>Phone</h4><p>{{ profile.phone }}</p></div></div>
            <div class="detailsItem col-3"><div> <h4>Work Days</h4><p>{{ profile.workTime }}</p></div></div>
        </div>
      </div>
      <mat-card-actions>
        <button *ngIf="!isBabysitter" (click)="hire()" mat-button class="hireBtn">Hire me</button>
        <button *ngIf="isBabysitter" (click)="goToProfiles()" mat-button class="hireBtn">Go to profiles</button>
      </mat-card-actions>
    </div>

</section>
