*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.container{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    .cardHeader{
      display: flex;
      justify-content: center;
    }

    .name{
      font-size: 30px;
    }

    .example-card{
      display: flex;
      flex-direction: column;
      width: 500px;
      max-height: 800px;
    }

    .notImage {
        background-size: cover;
        background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360");
      }
  
      .coverImage{
        width: 250px;
        height: 250px;
        background-size: cover;
        background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360");
        margin-bottom: 20px;
        margin: 0 auto;
      }
  
      .haveImage{
        background-size: cover;
      }
  
      
      .profileImg{
        margin: 0 auto;
        width: 50%;
        height: 50%;
      }

      .cardContent > div > ul{
        display: flex;
        flex-direction: column;
        text-align: start;
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 20px;
        font-weight: 500;
        list-style: none;
      }
}

/* .detailsList{
  display: flex;
  flex-wrap: wrap;
}

.detailsItem{
  display: flex;
  flex-wrap: wrap;
} */