section.container{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    .example-card {
      margin: 20px 20px 20px 20px;
      max-width: 300px;
    }

    .matHeader{
      display: flex;
      justify-content: space-around;
    }

    .notImage {
      background-size: cover;
      background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360");
    }

    .coverImage{
      width: 220px;
      height: 230px;
      background-size: cover;
      background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360");
      margin-bottom: 20px;
    }

    .haveImage{
      background-size: cover;
    }
    
    .profileImg{
      width: 250px;
      height: 250px;
    }
}
