<section class="container">
  <div class="col-lg-7"><img class="img" src="https://images.pexels.com/photos/1007788/pexels-photo-1007788.jpeg?cs=srgb&dl=pexels-oleksandr-pidvalnyi-1007788.jpg&fm=jpg" alt="..."  height="350px"/></div>
  <div id="central-card" class="my-5 py-1 text-center">
    <div class="card-body"><p class="text-white m-0">Remember always check the verify email, photo, and the phone number before hiring the babysitter.</p></div>
    <div class="card-body"><p class="text-white m-0">¡Here we have the top 3 babysitters of the month! They have exceeded our expectations and had the most elevate trust factor in the page!</p></div>
  </div>

    <mat-card class="example-card" *ngFor="let profile of profiles.slice(0,3)">
        <mat-card-header class="matHeader">
          <!-- <ng-template #thenBlock><div mat-card-avatar class="haveImage" style="background-image: url({{profile.image}})"></div></ng-template>
          <ng-template #elseBlock><div mat-card-avatar class="notImage"></div></ng-template>
          <div *ngIf=" profile.image ; then thenBlock else elseBlock"></div> -->
          <mat-card-title> {{ profile.firstname }} {{ profile.lastname }}  </mat-card-title>
        </mat-card-header>
        <br>
        <div class="container">
          <div *ngIf=" profile.image ; then image else default"></div>
          <ng-template #image><img mat-card-image class="profileImg" src="{{profile.image}}" alt="Photo of a Shiba Inu"></ng-template>
          <ng-template #default><img mat-card-avatar class="coverImage"></ng-template>  
        </div>

        <mat-card-content>
          <p>
           {{ profile.price | currency }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button  (click)="goToProfile(profile.id)" mat-button>View profile</button>
        </mat-card-actions>
      </mat-card>
</section>
