<section class="container">
  <div class="col-lg-7 img"></div>
  <div id="central-card" class="my-5 py-1 text-center">
    <div class="card-body"><p>Remember always check the verify email, photo, and the phone number before hiring the babysitter.</p></div>
    <div class="card-body"><p>¡Here we have the top 3 babysitters of the month! They have exceeded our expectations and had the most elevate trust factor in the page!</p></div>
  </div>
      <section class="cardContainer" *ngFor="let profile of (profiles ? profiles.slice(0,3): [])">
        <div class="card">
          <div class="img-box">
            <div *ngIf=" profile.image ; then image else default"></div>
          <ng-template #image><img class="profileImg cardImg" src="{{profile.image}}" alt="Photo of a Shiba Inu"></ng-template>
          <ng-template #default><img class="coverImage"></ng-template>
          </div>
      
        <div class="contenedor-h2">
          <h2>{{ profile.firstname }} {{ profile.lastname }}<span> <span class="separation"> ||</span> {{ convertToAge(profile.dateOfBirth) }}</span></h2>
          <p>{{ profile.description }}</p>
        </div>
        <section class="price">
          <h4></h4>
          <!--<h3>3 days left</h3> -->
        </section>
        <footer class="location">
          <h4><i class="fa-solid fa-location-dot"></i><span> Corrientes Capital</span></h4>
          <mat-card-actions>
            <button  (click)="goToProfile(profile.id)" mat-button>View profile</button>
          </mat-card-actions>
        </footer>
        </div>
      </section>
</section>
