.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    .notImage {
      background-size: cover;
      border: none;
      background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360");
    }

    .coverImage{
      width: 220px;
      height: 230px;
      background-size: cover;
      background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360");
      margin-bottom: 20px;
      border: 2px solid rgba(255, 255, 255, .3);
    }

    .haveImage{
      background-size: cover;
    }
    
    .profileImg{
      width: 250px;
      height: 250px;
    }
}

.cardContainer{ 
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.card{
  background-color: rgba(255, 255, 255, .3);
  border-radius: 15px;
  width: 350px;
  height: 535px;
  padding: 35px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  .img-box{
    height: 320px;
    width: 100%;
    
  }
}

.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 150px;
  margin-left: 10px;
}

.card-body{
  color: rgb(123, 120, 120);
}

.contenedor-h2 p{
  color: white;
  font-size: 18px;
}

.contenedor-h2 h2{
  color: rgb(123, 120, 120);
  text-align: center;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contenedor-h2 p{
  color: hsl(214, 28%, 69%);
}

.price{
  margin-top: 1px;
  color: hsl(178, 100%, 50%);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid hsl(214, 28%, 69%);

}

section h3{
  color: hsl(214, 28%, 69%);
}

.days{
  float: right;
  width: 25%;
  color: hsl(214, 28%, 69%);
}

.location{
  margin-top: 18px;
}

.separation{
  color: rgb(145, 86, 247);
}
