.footerLindo{
    position: relative;
    bottom:0px;
    width: 100%;
}

div{
    background-color: white;
    background: #f093fb;  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(147, 170, 251), rgb(87, 224, 245)); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(200, 170, 251, 1), rgba(87, 224, 245, 1));
}