.container{
    display: flex;
    justify-content: center;
    text-align:start;
    align-items: center;
    height: 63.1vh;

    .contract{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 10px solid red;
        border-radius: 30px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}