<div class="container">
    <section class="landpage">
        <h1 class="title">Welcome to Babysitterfy</h1>
        <p class="text">Here you'll find the best babysitter <button type="button" (click)="goToRegister()" class="btn btn-primary register">Get Started</button></p>
        <div class="container sing__in">
            <p>Already have an account? <button type="button" class="btn btn-primary sing__button" (click)="goToLogin()">Sing in</button></p>
        </div>
        
    </section>
</div>

